<!DOCTYPE html>
<html lang="en">
    <head>
        
        <meta name="viewport" content="initial-scale=1, width=device-width">
        
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=The+Girl+Next+Door&display=swap" rel="stylesheet">
        <link href="/static/style.css" rel="stylesheet">
        <title>Your ToDo list</title>
    </head>
    <body>
        <section>
            <h1>Your ToDo List</h1>
            <form method="post" action="/add">
                <input type="text" autocomplete="off" autofocus id="title" name="title">
                <a id="titleLabel">Title</a><br><br>
                <textarea type="text" autocomplete="off" id="desc" name="desc"></textarea>
                <a id="descLabel">desc</a>
                <button type="submit" id="add">add</button>
            </form>
        </section>
        <main>
            <h1>Here are your todo's</h1>
            <table>
                {% for row in todos %}
                    <tr>
                        <th>{{ row[1] }}</th>
                        <td>{{ row[2] }}</td>
                        <td id="btt">
                            <form method="post" action="/delete">
                                <input type="hidden" id="rowID" name="rowID" value="{{ row[0] }}">
                                <button type="submit" id="delete">DONE!</button>
                            </form>
                        </td>
                    </tr>
                {% endfor %}
            </table>
        </main>
    </body>
</html>